.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
input[type=button] {
    width: 80%; height: 10%; font-size: 24px
}
.flex:nth-of-type(table) {
	order: -1
}